# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
# Arduino build files
*.hex
*.elf
*.bin

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store

# Temporary files
*.log
*.tmp
*.bak

# CAD backups
*.swp
*.sld~ 
*.bak
